:root {
    --primary: #0E2E51;
    --background: #fff;
    --accent: #40C6DA;
}

@media only screen and (min-width: 40rem) {
/* MAIN NAV */
.header-logo-cont {
    left: 5rem;
}

/* SIDE NAV */
.side-nav.open {
    width: 20rem;
}

/* HERO */
.hero img {
    width: 100%;
    height: auto;
}

.call-to-action {
    left: auto;
    right: 5rem;
}

.hero-text {
    text-align: left;
    font-size: 1.7rem;
    height: 4.5rem;
    left: 5rem;
    max-width: 40rem;
    top: calc(50% - 2.25rem);
}

.hero-text p {
    font-size: 1rem;
    margin-left: .3rem;
}

/* FOOTER */
.footer-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-main {
    grid-column: 2;
    grid-row: 1;
    margin-top: 2.5rem;
    text-align: left;
}

.course-info {
    grid-row: 2;
    grid-column: 1 / span 3;
}

.footer-info {
    margin-top: 2.5rem;
    text-align: left;
}

.footer-info p {
    margin: .5rem 0;
}

/* ------------------------------------------------------------ */
/* HOME MAIN */


/* WEATHER */
.main-weather {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
}

.main-weather h2 {
    grid-column: span 2;
}

.weather-info {
    padding-top: 1rem;
}

#forecast {
    margin-top: 1rem;
}

/* ------------------------------------------------------------ */
/* RESERVATION PAGE */
.reservation-form {
    max-width: 44rem;
    margin: 2rem auto;
}
}